body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./img/wallpaper.png);
}
.wrapper {
  background-image:  url("./img/hero.png"), url("./img/bottom-pic.png"); 
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
}
.container {
  width: 100%;
  max-width: 1024px; 
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  color: white;
  }

.logo__pic {
position: absolute;
left: 389px;
top: 21px;
}
.menu {
  position:absolute;
  left: 823px;
  top: 20px;
  font-size: 14px;
}
.menu__item {
  padding-right: 54px;
  list-style: none;
  display: inline-block;
}
.contacts {
position: absolute;
top: 32px;
right: 384px;
font-size: 26px;
}
.contacts__workhours {
  font-size: 13px;
  color: #ff3d00;
  text-align: right;
  text-decoration: underline;
  }
  .slogan__title {
    font-weight: 800;
    font-size: 72px;
  }
  .btn {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    padding: 9px;
    width: 195px;
    height: 55px;
    background-color: #ff3d00;
    text-decoration: none;
    border-radius: 35px
  }
  .menu a {
    color: white;
    text-decoration: none;
    }
    .menu a:hover {
      color:#ff3d00;
    }

.contacts a {
  color: white;
  text-decoration: none;
}
