html, body {
  height: 100%;
}
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #17191C;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}
* {
  box-sizing: inherit;
}
.img {
  display: block;
  max-width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper__content {
  flex: 1;
 
}
.container {
  max-width: 1142px;
  margin: 0px auto;
}
a {
  text-decoration: none;
  color: white;
}

.services-wrapper {
  background-image: url('../../img/top-line-services.jpg');
  background-repeat: no-repeat;
}
