.offer {
  background: white;
  vertical-align: top;
  border-radius: 5px;
  padding: 29px 22px 53px;
  border: 5px solid #FFFFFF;
  display: flex;
  flex-direction: column;
}
.offer__icon {
  margin-bottom: 30px;
  align-self: flex-start;
}
.offer__text{
  flex: 1;
  display: flex;
  flex-direction: column;

}
.offer__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: black;
  margin-bottom: 17px;
  }

.offer__features {
  font-size: 16px;
  color: #666666;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.offer__features b {
  color: black;
}
.offer__feature {
 /* display: inline-block;*/
  width: calc(100% / 2 - 30px);
  /*margin-right: 10px;*/
  margin-top: 0;
  margin-bottom: 25px;
}
.offer__description {
  max-width: 330px;
  font-size: 14px;
  line-height: 22px;
  color: #666666;
  margin-bottom: 26px;
  margin-top: 0;
  }
  .offer-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
  }