.partners {
  display: flex;
  flex-wrap: wrap;
  row-gap: 34px;
  margin-left: -135px;
  
}
.partners__link {
  display: flex;
  width: 178px;
  height: 95px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%); 
  transition: filter 0.2s; 
}
.partners__link:hover {
  filter: grayscale(0);
}
.partners__item {
  margin-left: 135px;
}
/*.partners__item:nth-child(4n+1) {
margin-left: 0;
}*/
.partners__pic {
  max-width: 100%;
  max-height: 100%;
}